<mat-button-toggle-group>
  <mat-button-toggle (click)="doOf()">of</mat-button-toggle>
  <mat-button-toggle (click)="doFrom()">from</mat-button-toggle>
  <mat-button-toggle (click)="doMap()">map</mat-button-toggle>
  <mat-button-toggle (click)="doTap()">tap</mat-button-toggle>
  <mat-button-toggle (click)="doShare()">share</mat-button-toggle>
  <mat-button-toggle (click)="doSwitchMap()">switchMap</mat-button-toggle>
</mat-button-toggle-group>

<div #outputDiv class="output">
  {{output}}
</div>
